*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;
}

.container{

width: 100%;
min-height: 100vh;
background-image: url(images/fon.jpg);
padding: 10px;

}
.list-app{
    width: 500px;
    max-width: 540px;
   
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    
}
.list-app h2{
    color: rgba(233, 160, 13, 0.64);
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    display:flex;
    align-items: center;
    margin-bottom: 10px;

}
.list-app h2 img{
    width: 30px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #8d8d8e3b;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: rgba(233, 160, 13, 0.64);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position:absolute;
    height: 28px;
    width: 28px;
    border-radius: 20%;
    background-image: url(images/uncheckbox.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;


}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checkbox::before{
    background-image: url(images/checkbox.png);
}
ul li.checkbox::after{
    content: '';
    position: absolute;
    left: 16px;
    width: 12px;
    height: 6px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(315deg);
}
ul li span{
    position: absolute;
    right: 0;
    top:5px;
    width: 40px;
    height: 40px;
    font-size:22px ;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}
