

*
{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}


 body{
  background: url(https://e1.pxfuel.com/desktop-wallpaper/240/859/desktop-wallpaper-396-best-color-hues-colorful-pastel-background.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
 }

 .wrapper{
    background:transparent;
    display:flexbox;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .8);
    width: 400px;
    color: rgb(168, 168, 169);
   
 }

.wrapper h1{
   
    font-size: 28px;
    color: rgba(143, 198, 56, 0.437);
   text-align: center;
   font-family: Georgia, 'Times New Roman', Times, serif;
   padding: 19px 30px;
    
 }
 .wrapper .input-box{
   position:-webkit-sticky;
   width: 200%;
   height: 30px;
   margin: 30px ;
 }
 .input-box input{
    width: 41%;
    height: 30px;
    background-color:transparent;
    border:none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 2);
    border-radius: 40px;
    
   padding: 8px 10px 8px 7px;
 }

.input-box input::placeholder{
   color: rgba(87, 91, 94, 0.652);
}

.input-box i{
  
   transform: translate(-200%);
   font-size: 18px;
}


.wrapper .remember-forgot{
   display: flex;
   justify-content: space-between;
   font-size: 14px;
   
}
.remember-forgot label input{
width: 30px;
}


.wrapper .btn{
   width: 100%;
   height: 40px;
   background: rgba(197, 173, 173, 0.612);
   border: none;
   outline: none;
   border-radius: 40px;
 
   font-size: medium;
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: rgb(255, 255, 255);
   font-weight: 600;
  
}

.wrapper .login-link{
   font-size:18px;
   text-align: center;
   margin:45px 0 30px;
}

.login-link p a{
   color: rgb(124, 107, 140);
   text-decoration: none;
   font-weight: 600;
}
.login-link p a hover{
   text-decoration: underline;
}


 