*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image:url(images/fon.jpg);
    color: rgb(255, 255, 255);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh;
  

}
h1 img{
    width: 40px;
    margin-left: 10px;
}

header{
    font-size: 1.5rem;
}

header,
form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form input,
form button{
    padding: 0.5rem;
    padding-left: 1rem;
    font-size: 1.8rem;
    border: none;
    background: rgba(250, 250, 250, 0.573);
    border-radius: 2rem;
}

form button{
    color:rgba(0, 0, 0, 0.386);
    background: rgba(255, 255, 255, 0.078);
    
}

form button:hover{
    color: rgb(255, 255, 255);
    
}
.fa-plus-circle{
    margin-top: 0.3rem;
    margin-left: -8px;
}
.todo-container{
    display: flex;
     justify-content: center; 
     align-items: center; 
}

.todo-list {
    min-width: 30%;
    list-style: none;
}
.todo{
    margin: 0.5rem;
    padding-left: 0.5rem;
    background: rgba(255, 255, 255, 0.696);
    color: rgba(216, 191, 26, 0.822);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    border-radius: 2rem; 
}

.todo li{
    flex: 1;
}

 .trash-btn, /* icon */
.complete-btn {
    color: rgb(255, 255, 255);
    border: none;
    padding: 1rem;
}

.complete-btn{
    background:rgba(255, 200, 0, 0.814)
}

.trash-btn{
    border-top-right-radius: 1.75rem;
    border-bottom-right-radius: 1.75rem;
    background: rgb(84, 81, 81);
}

.todo-item{
    padding: 0rem 0.5rem;
}
.fa-trash,  /*farenin işlevi*/
.fa-check-circle{
    pointer-events: none;
}

.completed{  /*fare */
    text-decoration: line-through; /*üstünü çizme*/
    opacity: 0.5;
}

.slide {   /*fare*/
    transform: translateX(10rem);
    opacity: 0;

}

select {

    appearance: none;
    outline: none;
    border: none;
}

.select{ /* all butonu*/
    margin: 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 50px;

}

select{
    color: rgb(255, 212, 38);
    background-color:rgba(250, 250, 250, 0.573);
    width: 8rem;
    height: 3.2rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after{
    content: "\25BC";
    position: absolute;
    background: rgb(255, 200, 0);
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    
}


